* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border-radius: 10px;
  padding: 20px;
  gap: 2px;
  background: black;
  border: groove skyblue;
}

#text-area {
  grid-column: span 10;
  font-size: 20px;
  resize: none;
  font-family: monospace;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  letter-spacing: 0.1rem;
  height: 100px;
  background: darkgray;
  box-shadow: 0 0 50px skyblue;
  border: groove skyblue;
}

button {
  cursor: pointer;
  outline: none;
  background: darkgray;
  border-radius: 5px;
  font-family: monospace;
  font-size: xx-large;
  box-shadow: 0 0 15px skyblue ;
  border: groove skyblue;
}

input{
  cursor: pointer;
  outline: none;
  background: darkgray;
  border-radius: 5px;
  font-family: monospace;
  font-size: xx-large;
  box-shadow: 0 0 15px skyblue ;
  border: groove skyblue;
  text-transform: uppercase;
}

#backspace {
  grid-column: span 2;
  font-size: large;
}

#space {
  grid-column: span 5;
}

#enter {
  grid-column: span 3;
  grid-row: span 2;
}

#right-shift {
  font-size: large;
  display: none;
  grid-column: span 2;
}

#left-shift {
  font-size: large;
  grid-column: span 2;
}

#reset {
  grid-column: span 7;
  font-size: x-large;
}

#list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
  margin-top: 2rem;
}

#list li {
  font-size: larger;
  font-family: monospace;
  font-size: x-large;
  background: skyblue;
  list-style: none;
  text-align: center;
  border: solid skyblue;
  box-shadow: 0 0 15px black;
}
